*,
*::before,
*::after {
  box-sizing: border-box; 
}

html { font-size: 75%; }
body { font-size: 1rem; }
li { font-size: 0.833rem; }

html,
body,
.wrapper {
  font-family: 'arsenalregular';
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'arsenalregular';
  background-image: linear-gradient(rgb(212, 212, 212), rgb(102, 102, 102));}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  color: hsl(206, 17%, 28%);
}

/* UI Placard Card */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  width: clamp(300px, 50vw, 600px);
  padding: 30px 40px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(119, 119, 119);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  width: 70%;

}

.btn:hover {

  background-color: rgb(255, 0, 0);
}

.btn-complete {
  border: none;
  background-color: rgb(119, 119, 119);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 60%;
}

.card-footer 
  a:link,
  a:visited,
  a:active {
  text-decoration: none;
}

.btn-complete:hover {
  background-color: rgb(255, 0, 0);
}

.btn-generate {
  background-color: rgb(2, 110, 199);
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 16px;
  position: relative;
  background-color: #ffffff;
  margin: auto;
  border: 2px solid rgb(137, 137, 137);
  width: 30%;
  height: 40%; 
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 3em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  min-height: 500px;
}

.modal-header h2 {
  font-family: arsenalregular;
  font-size: 1.9rem;
  line-height: 1.0rem;
  margin-bottom: 8px;
}

.modal-header p {
  font-size: 1.4rem;
  line-height: 1.rem;
  margin-top: 0px;
  margin-bottom: 8px;
  color: rgb(99, 99, 99);

}

.modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid rgb(137, 137, 137);
  padding: 24px 30px;
  color: rgb(0, 0, 0);
  height: 20%;
}

.modal-body {
  height: 60%;
  padding: 20px 40px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.modal-footer {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 20%;
  padding: 20px 40px;
}

.btn-next {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-submit {
  text-align: center;
  display: block;
  margin: 0 auto;
}

select {
  font-size: 16px;
  padding: 12px;
  width: 20%;
  border: none;
  border-radius: 0px;
  background-color: #f1f1f1;
}

.btn-submit {
  display: none;
}

.btn-next {
  display: block;
}

#step_02 {
  display: none;
}

#step_03 {
  display: none;
}

#step_04 {
  display: none;
}

#step_05 {
  display: none;
}

#step_06 {
  display: none;
}

.btn-next {
  border: none;
  background-color: rgb(255, 0, 0);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  padding: 14px 34px;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

.btn-submit {
  border: none;
  background-color: rgb(255, 0, 0);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  padding: 14px 34px;
  width: 30%;
  text-align: center;
  cursor: pointer;
}


form {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.8em;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.25em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

#myModalMessageRED {
  display: none;
  color: red;
  font-family: 'arsenalbold';
}